/**
Designed by: Franz Noel Tanglao

 */

* {
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}
.wrapper {
}
 .demo-MenuItem
{
    /*border-width:1px 0;*/
    margin:0 auto;
}
.demo-MenuItem .gwt-MenuItem
{
    background-color:#eee;
    padding:0 10px;
    /*border: 1px solid #afafaf;*/
}
.gwt-MenuItem {
	border: 1px solid #afafaf;
	border-radius: 2px;
}
.demo-MenuItem .gwt-MenuItem-selected
{
    background-color:#ffc;
}
.customers {
	width: 200px;
	height: 600px;
	border: 1px solid #afafaf;
	padding: 2px;	
}
.area {
	margin: 5px 0 0 0;
	width: 100%;
}
.customerEntry {
	width: 100%;
	border: 1px solid #afafaf;
	padding: 5px;
	margin-left: 5px; 
}
.customerHeader .gwt-Button{
	margin: 0 3px 0 0px;
}
.customerHeader, .customerInformation, .customerAddress, .customerRemarks, .customerBio {
	margin: 0 0 5px 5px;
	border-collapse: collapse;
}
.listHair, .listEyes, .listRace {
	border-collapse: collapse;
	padding: 5px;
	width: 100%;
	border-width: 1px;
}
.height, .weight {
	border-collapse: collapse;
	width: 100%;
}
.loansTable {
	border: 1px solid #afafaf;
	border-collapse: collapse;
}