<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">	

	<!-- Customer -->
	<servlet>
		<servlet-name>Customer</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer</servlet-name>
		<url-pattern>/customer/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CustomerLicense</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerLicenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLicense</servlet-name>
		<url-pattern>/customer-license/*</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>CustomerAddress</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerAddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerAddress</servlet-name>
		<url-pattern>/customer-address/*</url-pattern>
	</servlet-mapping>
		
			
	<!--  Search JSPs -->
	<servlet>
		<servlet-name>formSearch</servlet-name>
		<jsp-file>/form-search.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formSearch</servlet-name>
		<url-pattern>/search-page/*</url-pattern>
	</servlet-mapping>
	
	<!-- Item JSPs -->
	<servlet>
		<servlet-name>formLoanItemCreate</servlet-name>
		<jsp-file>/form-loanItem-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formLoanItemCreate</servlet-name>
		<url-pattern>/loan-item/create/*</url-pattern>
	</servlet-mapping>
		
	<!--  Customer JSPs -->
	<servlet>
		<servlet-name>formCustomerCreate</servlet-name>
		<jsp-file>/form-customer-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formCustomerCreate</servlet-name>
		<url-pattern>/customer/create/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>formCustomerAddressCreate</servlet-name>
		<jsp-file>/form-customerAddress-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formCustomerAddressCreate</servlet-name>
		<url-pattern>/customer-address/create/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>formCustomerLicenseCreate</servlet-name>
		<jsp-file>/form-customerLicense-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formCustomerLicenseCreate</servlet-name>
		<url-pattern>/customer-license/create/*</url-pattern>
	</servlet-mapping>
	
	<!--  Welcome file -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>