<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">	

	<!-- Customer -->
	<servlet>
		<servlet-name>Customer</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer</servlet-name>
		<url-pattern>/customers/*</url-pattern>
	</servlet-mapping>

	<!--  Customer JSPs -->
	<servlet>
		<servlet-name>Customer</servlet-name>
		<jsp-file>/customer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer</servlet-name>
		<url-pattern>/customer/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerInfo</servlet-name>
		<jsp-file>/customer-info.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerInfo</servlet-name>
		<url-pattern>/customer-info/*</url-pattern>
	</servlet-mapping>
	
	<!--  Vendor JSPs -->
	<servlet>
		<servlet-name>Vendor</servlet-name>
		<jsp-file>/vendor.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vendor</servlet-name>
		<url-pattern>/vendor/*</url-pattern>
	</servlet-mapping>
	
	<!--  Loan JSPs -->
	<servlet>
		<servlet-name>Loan</servlet-name>
		<jsp-file>/loan.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Loan</servlet-name>
		<url-pattern>/loan/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoanInfo</servlet-name>
		<jsp-file>/loan-info.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoanInfo</servlet-name>
		<url-pattern>/loan-info/*</url-pattern>
	</servlet-mapping>
	
	
	<!--  Welcome file -->
	<welcome-file-list>
		<welcome-file>customer.jsp</welcome-file>
	</welcome-file-list>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>