<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">	

	<!-- User -->
	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>com.pawnsoftware.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/user/login/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userCreate</servlet-name>
		<servlet-class>com.pawnsoftware.UserCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userCreate</servlet-name>
		<url-pattern>/user/create/*</url-pattern>
	</servlet-mapping>
	
	<!-- Search -->
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.pawnsoftware.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	
	<!--  Search JSPs -->
	<servlet>
		<servlet-name>formSearch</servlet-name>
		<jsp-file>/form-search.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formSearch</servlet-name>
		<url-pattern>/form/search-page/*</url-pattern>
	</servlet-mapping>
	<!-- User JSPs -->
	<servlet>
		<servlet-name>formUserCreate</servlet-name>
		<jsp-file>/form-user-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formUserCreate</servlet-name>
		<url-pattern>/form/user/create/*</url-pattern>
	</servlet-mapping>
	<!--  Customer JSPs -->
	<servlet>
		<servlet-name>formCustomerCreate</servlet-name>
		<jsp-file>/form-customer-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formCustomerCreate</servlet-name>
		<url-pattern>/form/customer/create/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>formCustomerAddressCreate</servlet-name>
		<jsp-file>/form-customerAddress-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formCustomerAddressCreate</servlet-name>
		<url-pattern>/form/customer-address/create/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>formCustomerLicenseCreate</servlet-name>
		<jsp-file>/form-customerLicense-create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formCustomerLicenseCreate</servlet-name>
		<url-pattern>/form/customer-license/create/*</url-pattern>
	</servlet-mapping>
	
	<!--  Welcome file -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>