#horizontal-nav {
	float: left;
	clear: both;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 918px;
}
#horizontal-nav>li {
	float: left;
	padding: 5px 0px;
	margin: 0px;
	font-weight: bold;
	display: inline;
}
#horizontal-nav>li>a {
	text-decoration: none;
	padding: 5px 10px 7px 5px;
	color: #000;
}
#horizontal-nav>li>a:hover {
	background-color: #575757;
	color: #fff;
	padding: 5px 10px 7px 5px;
}