* {
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif; 
}
.wrapper {
	width: 920px;
	margin: 5px auto;
	text-align: center;
}
#page {
	float: left;
	text-align: left;
	width: 920px;
	min-height: 500px;
	border: 1px solid #afafaf;
}
h1 {
	padding: 5px 5px 5px 15px;
	background-color: #353535;
	color: #fff;
}
h2 {
	color: #fff;
}

