* {
	margin: 0px;
	padding: 0px;
}
#nav {
	width: 100%;
	float: left;
	clear: both;
	border: 1px solid #afafaf;
}
#nav>li {
	list-style-type: none;
	display: block;
	float: left;
	margin: 10px;
}
#nav>li>a {
	border: 1px solid #afafaf;
}
#nav>li>ul>li>a {
	text-decoration: none;
}
#nav>li>ul>li>a:hover {
	text-decoration: underline;
}

/********* Input Fields ************/
input[type="submit"], input[type="text"], textarea {
	padding: 3px;
}

table {
	border-collapse: collapse;
	margin: 2px;
	padding: 2px;
}
table td {
	border: 1px solid #afafaf;
	padding: 2px;
	
}
table th {
	border: 1px solid #afafaf;
	text-align: left;
	padding: 3px;
}