table {
	border-collapse: collapse;
	margin: auto;
	border: 1px solid #afafaf;
}
table input {
	padding: 5px;
}
table th {
	background-color: #353535;
	border: 1px solid #afafaf;
	padding: 10px;
}
table td {
	padding: 10px;
}
table td a {
	color: #353535;
	text-decoration: none;
}
table td span:before{
	content: "	";
}
table td a:hover{
	text-decoration: underline;
}