<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">	

	<!-- Customer -->
	<servlet>
		<servlet-name>Customer</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer</servlet-name>
		<url-pattern>/customer/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CustomerLicense</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerLicenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLicense</servlet-name>
		<url-pattern>/customer-license/*</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>CustomerAddress</servlet-name>
		<servlet-class>com.pawnsoftware.CustomerAddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerAddress</servlet-name>
		<url-pattern>/customer-address/*</url-pattern>
	</servlet-mapping>
			
	<!-- Item JSPs -->
	<servlet>
		<servlet-name>LoanEdit</servlet-name>
		<jsp-file>/loan-edit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoanEdit</servlet-name>
		<url-pattern>/loan/edit/*</url-pattern>
	</servlet-mapping>
		
	<!--  Customer JSPs -->
	<servlet>
		<servlet-name>CustomerList</servlet-name>
		<jsp-file>/customer-list.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerList</servlet-name>
		<url-pattern>/customer/list/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerEdit</servlet-name>
		<jsp-file>/customer-edit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerEdit</servlet-name>
		<url-pattern>/customer/edit/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerAddressEdit</servlet-name>
		<jsp-file>/customerAddress-Edit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerAddressEdit</servlet-name>
		<url-pattern>/customer-address/edit/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerLicenseEdit</servlet-name>
		<jsp-file>/customerLicense-edit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLicenseEdit</servlet-name>
		<url-pattern>/customer-license/edit/*</url-pattern>
	</servlet-mapping>
	
	<!--  Welcome file -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>